In [3]:
#list
pets = ["cat", "dog"]

pets.append("parrot")
pets


pets.append("gold fish")
pets


pets.append("python")
pets

pets[len(pets):] = ["hawk"]
pets
['cat', 'dog', 'parrot', 'gold fish', 'python', 'hawk']

['cat', 'dog', 'parrot', 'gold fish', 'python', 'hawk']

TUPLES

In [5]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('a', 'b', 'c', 1, 2, 3)
('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [4]:
"""
Join Sets
There are several ways to join two or more sets in Python.

The union() and update() methods joins all items from both sets.

The intersection() method keeps ONLY the duplicates.

The difference() method keeps the items from the first set that are not in the other set(s).

The symmetric_difference() method keeps all items EXCEPT the duplicates.

Union
The union() method returns a new set with all items from both sets.

ExampleGet your own Python Server
Join set1 and set2 into a new set:
"""

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)
"""
You can use the | operator instead of the union() method, and you will get the same result.

Example
Use | to join two sets:
"""

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)
"""
Join Multiple Sets
All the joining methods and operators can be used to join multiple sets.

When using a method, just add more sets in the parentheses, separated by commas:

Example
Join multiple sets with the union() method:
"""

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)
"""
When using the | operator, separate the sets with more | operators:

Example
Use | to join two sets:
"""

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{'b', 'a', 1, 2, 3, 'c'}
{'b', 'a', 1, 2, 3, 'c'}
{1, 2, 3, 'Elena', 'bananas', 'a', 'c', 'cherry', 'b', 'apple', 'John'}
{1, 2, 3, 'Elena', 'bananas', 'a', 'c', 'cherry', 'b', 'apple', 'John'}

In [7]:
#DICTIONERYS
hisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(hisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [8]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(type(thisdict))

<class 'dict'>

In [9]:
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}