TIMESERIES AND DATE FUNCTIONOLITY

In [53]:
#DATETIME module
import datetime
import pandas as pd
import numpy as np

dt = datetime.datetime(year=2016, month=12, day=19, hour=13, minute=30)
dt

datetime.datetime(2016, 12, 19, 13, 30)

In [42]:
print(dt) # .day,...
print(dt.strftime("%d %B %Y"))

2016-12-19 13:30:00
19 December 2016

In [43]:
#in pandas we can use Timestamp
import pandas as pd
ts = pd.Timestamp('2016-12-19')
ts

Timestamp('2016-12-19 00:00:00')

In [44]:
ts.month

12

In [45]:
ts + pd.Timedelta('5 days')#time duration

Timestamp('2016-12-24 00:00:00')

STRING FORMAT dates converted into TIMESTAMP objects by using 'to_datetime'.

Parsing time series information from various sources and formats

In [54]:
new = pd.to_datetime(["1/1/2018", np.datetime64("2018-01-01"), datetime.datetime(2018, 1, 1)])
print(new)

DatetimeIndex(['2018-01-01', '2018-01-01', '2018-01-01'], dtype='datetime64[ns]', freq=None)

Generate sequences of fixed-frequency dates and time spans

In [7]:
dti = pd.date_range("2018-01-01", periods=3, freq="h")
dti

DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 01:00:00',
               '2018-01-01 02:00:00'],
              dtype='datetime64[ns]', freq='h')

Manipulating and converting date times with timezone information

In [14]:
dti.tz_convert("US/Pacific")

DatetimeIndex(['2017-12-31 16:00:00-08:00', '2017-12-31 17:00:00-08:00',
               '2017-12-31 18:00:00-08:00'],
              dtype='datetime64[ns, US/Pacific]', freq='h')

In [19]:
#Resampling or converting a time series to a particular frequency
idx = pd.date_range("2018-01-01", periods=5, freq="h")
idx
ts = pd.Series(range(len(idx)), index=idx)

ts

2018-01-01 00:00:00    0
2018-01-01 01:00:00    1
2018-01-01 02:00:00    2
2018-01-01 03:00:00    3
2018-01-01 04:00:00    4
Freq: h, dtype: int64

In [20]:
ts.resample("2h").mean()

2018-01-01 00:00:00    0.5
2018-01-01 02:00:00    2.5
2018-01-01 04:00:00    4.0
Freq: 2h, dtype: float64

![alt text][def]

[def]: image-1.png

pandas captures 4 general time related concepts:

1.Date times:
 A specific date and time with timezone support. Similar to datetime.datetime from the standard library.

2.Time deltas: 
An absolute time duration. Similar to datetime.timedelta from the standard library.

3.Time spans: A span of time defined by a point in time and its associated frequency.

4.Date offsets: 
A relative time duration that respects calendar arithmetic. Similar to dateutil.relativedelta.relativedelta from the dateutil package.

Performing date and time arithmetic with absolute or relative time increments

In [23]:
#creating TIMESTAMP objects.
from datetime import datetime
from pytz import timezone

# Create a timezone object for New York
ny_tz = timezone('America/New_York')

# Create a datetime object for 2022-01-01 12:00:00 in
# New York timezone
dt = datetime(2022, 1, 1, 12, 0,
              tzinfo=ny_tz)
print(dt)

2022-01-01 12:00:00-04:56

In [24]:

friday = pd.Timestamp("2018-01-05")
friday.day_name()

'Friday'

In [25]:
#adding 1 day
saturday = friday + pd.Timedelta("1 day")
saturday.day_name()

'Saturday'

In [28]:
#adding 1 business day
monday = friday + pd.offsets.BDay()
monday.day_name()

'Monday'

pd.DateOffset:
a class in pandas that represents a relative offset from a date or datetime. It allows you to specify offsets like days, months, years, etc., which can be added or subtracted from dates or datetimes.

In [31]:
#creating a series.
#pd.Series([pd.DateOffset(1), pd.DateOffset(2)])

import pandas as pd

# Creating a Series of pd.DateOffset objects
series_offsets = pd.Series([pd.DateOffset(1), pd.DateOffset(2)])
print(series_offsets)

base_date = pd.Timestamp('2024-06-24')
future_dates = base_date + series_offsets
print(future_dates)

0         <DateOffset>
1    <2 * DateOffsets>
dtype: object
0    2024-06-25 00:00:00
1    2024-06-26 00:00:00
dtype: object

1.Pandas represents null date times, time deltas, and time spans as NaT (Not a Time) for missing and null dates.
2.similar as np.nan does for float data.

In [32]:
pd.Timestamp(pd.NaT)

NaT

In [33]:
pd.Timedelta(pd.NaT)

NaT

In [34]:
pd.Period(pd.NaT)

NaT

1.Use pd.Timestamp for logging events, time-stamping data entries, or recording specific points in time.
2.Use pd.Timedelta for calculating differences between dates, adding offsets to dates, or measuring durations.
3.Use pd.Period for organizing time series data into fixed-frequency intervals (e.g., monthly sales, quarterly reports).

In [38]:
ts = pd.Timestamp('2024-06-24 08:00:00')#specific time zone,indexing,slicing,arthimetic
td = pd.Timedelta(days=5, hours=2)#duration
pr = pd.Period('2024-06', freq='M')#specific time span intervals
print(ts)
print(td)
print(pr)

2024-06-24 08:00:00
5 days 02:00:00
2024-06

URL tutorial:
https://pandas.pydata.org/docs/user_guide/timeseries.html