PYSPARK DATAFRAMES

In [17]:
import pyspark

In [18]:
print('hello')

hello

In [19]:
from pyspark.sql import SparkSession

In [20]:
#creating spark session
spark = SparkSession.builder.appName('Dataframe').getOrCreate()

https://github.com/krishnaik06/Pyspark-With-Python/blob/main/Tutorial%204-%20Pyspark%20Dataframes-%20Filter%20operation.ipynb

In [21]:
spark
#sparksession created.checking.

In [22]:
##create sata frame
#df_pyspark = spark.createDataFrame(Data)
#Data =[....]

## read the dataset
df_pyspark=spark.read.option('header','true').csv('C:/Users/rammo/OneDrive/Desktop/Book1.csv',inferSchema=True)

In [23]:
### Check the schema
df_pyspark.printSchema()

root
 |-- NAME: string (nullable = true)
 |-- EXPERIENCE: integer (nullable = true)
 |-- AGE : integer (nullable = true)
 |-- SALARY: string (nullable = true)

In [24]:
df_pyspark.show()

+----+----------+----+-------+
|NAME|EXPERIENCE|AGE | SALARY|
+----+----------+----+-------+
|John|        15|  45|100,000|
| Bob|        13|  34|120,000|
|NULL|         2|  36|110,000|
|ROCK|      NULL|  43|130,000|
+----+----------+----+-------+

In [25]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [26]:
df_pyspark.head(1)

[Row(NAME='John', EXPERIENCE=15, AGE =45, SALARY='100,000')]

In [27]:
df_pyspark.select(['NAME','EXPERIENCE']).show()

+----+----------+
|NAME|EXPERIENCE|
+----+----------+
|John|        15|
| Bob|        13|
|NULL|         2|
|ROCK|      NULL|
+----+----------+

In [28]:
df_pyspark['NAME']

Column<'NAME'>

In [29]:
df_pyspark.dtypes

[('NAME', 'string'),
 ('EXPERIENCE', 'int'),
 ('AGE ', 'int'),
 ('SALARY', 'string')]

In [30]:
df_pyspark.describe().show()

+-------+----+----------+----------------+-------+
|summary|NAME|EXPERIENCE|            AGE | SALARY|
+-------+----+----------+----------------+-------+
|  count|   3|         3|               4|      4|
|   mean|NULL|      10.0|            39.5|   NULL|
| stddev|NULL|       7.0|5.32290647422377|   NULL|
|    min| Bob|         2|              34|100,000|
|    max|ROCK|        15|              45|130,000|
+-------+----+----------+----------------+-------+

In [31]:
### Adding Columns in data frame
df_pyspark=df_pyspark.withColumn('Experience After 2 year',df_pyspark['EXPERIENCE']+2)
df_pyspark.show()

+----+----------+----+-------+-----------------------+
|NAME|EXPERIENCE|AGE | SALARY|Experience After 2 year|
+----+----------+----+-------+-----------------------+
|John|        15|  45|100,000|                     17|
| Bob|        13|  34|120,000|                     15|
|NULL|         2|  36|110,000|                      4|
|ROCK|      NULL|  43|130,000|                   NULL|
+----+----------+----+-------+-----------------------+

In [32]:
### Drop the columns
df_pyspark=df_pyspark.drop('Experience After 2 year')
df_pyspark.show()

+----+----------+----+-------+
|NAME|EXPERIENCE|AGE | SALARY|
+----+----------+----+-------+
|John|        15|  45|100,000|
| Bob|        13|  34|120,000|
|NULL|         2|  36|110,000|
|ROCK|      NULL|  43|130,000|
+----+----------+----+-------+

In [33]:
### Rename the columns
df_pyspark.withColumnRenamed('Name','New Name').show()

+--------+----------+----+-------+
|New Name|EXPERIENCE|AGE | SALARY|
+--------+----------+----+-------+
|    John|        15|  45|100,000|
|     Bob|        13|  34|120,000|
|    NULL|         2|  36|110,000|
|    ROCK|      NULL|  43|130,000|
+--------+----------+----+-------+

Pyspark Handling Missing Values
*Dropping Columns
*Dropping Rows
*Various Parameter In Dropping functionalities
*Handling Missing values by Mean, MEdian And Mode

In [34]:
df_pyspark.show()

+----+----------+----+-------+
|NAME|EXPERIENCE|AGE | SALARY|
+----+----------+----+-------+
|John|        15|  45|100,000|
| Bob|        13|  34|120,000|
|NULL|         2|  36|110,000|
|ROCK|      NULL|  43|130,000|
+----+----------+----+-------+

In [35]:
df_pyspark.na.drop().show()

+----+----------+----+-------+
|NAME|EXPERIENCE|AGE | SALARY|
+----+----------+----+-------+
|John|        15|  45|100,000|
| Bob|        13|  34|120,000|
+----+----------+----+-------+

In [36]:
### any==how
df_pyspark.na.drop(how="any").show()

+----+----------+----+-------+
|NAME|EXPERIENCE|AGE | SALARY|
+----+----------+----+-------+
|John|        15|  45|100,000|
| Bob|        13|  34|120,000|
+----+----------+----+-------+

In [37]:
##threshold
df_pyspark.na.drop(how="any",thresh=1).show()
"""thresh=1:- This parameter specifies a threshold for dropping rows. It indicates 
that a row will be dropped if it has fewer than thresh non-null values."""

+----+----------+----+-------+
|NAME|EXPERIENCE|AGE | SALARY|
+----+----------+----+-------+
|John|        15|  45|100,000|
| Bob|        13|  34|120,000|
|NULL|         2|  36|110,000|
|ROCK|      NULL|  43|130,000|
+----+----------+----+-------+

'thresh=1:- This parameter specifies a threshold for dropping rows. It indicates \nthat a row will be dropped if it has fewer than thresh non-null values.'

In [38]:
##Subset
df_pyspark.na.drop(how="any",subset=['EXPERIENCE']).show()

+----+----------+----+-------+
|NAME|EXPERIENCE|AGE | SALARY|
+----+----------+----+-------+
|John|        15|  45|100,000|
| Bob|        13|  34|120,000|
|NULL|         2|  36|110,000|
+----+----------+----+-------+

In [39]:
### Filling the Missing Value
df_pyspark.na.fill('Missing Values',['NAME','Experience']).show()

+--------------+----------+----+-------+
|          NAME|EXPERIENCE|AGE | SALARY|
+--------------+----------+----+-------+
|          John|        15|  45|100,000|
|           Bob|        13|  34|120,000|
|Missing Values|         2|  36|110,000|
|          ROCK|      NULL|  43|130,000|
+--------------+----------+----+-------+

ADD IMPUTATION CL

In [40]:
"""from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['AGE', 'Experience', 'Salary'], 
    outputCols=["{}_imputed".format(c) for c in ['AGE', 'Experience', 'Salary']]
    ).setStrategy("median")
    """
# Add imputation cols to df

'from pyspark.ml.feature import Imputer\n\nimputer = Imputer(\n    inputCols=[\'AGE\', \'Experience\', \'Salary\'], \n    outputCols=["{}_imputed".format(c) for c in [\'AGE\', \'Experience\', \'Salary\']]\n    ).setStrategy("median")\n    '

In [41]:
from pyspark.sql.functions import percentile_approx
from pyspark.sql.functions import col, lit, when

# Calculate the median of the 'age' column
median_age = df_pyspark.select(percentile_approx(col("age"), 0.5)).collect()[0][0]

# Impute missing values with the median
imputed_df = df_pyspark.withColumn("imputed_age", when(col("age").isNull(), lit(median_age)).otherwise(col("age")))

# Show the result
imputed_df.show()

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `age` cannot be resolved. Did you mean one of the following? [`AGE `, `NAME`, `SALARY`, `EXPERIENCE`].;
'Aggregate [unresolvedalias(percentile_approx('age, 0.5, 10000, 0, 0), Some(org.apache.spark.sql.Column$$Lambda$1354/1349665392@13fa55c8))]
+- Project [NAME#132, EXPERIENCE#133, AGE #134, SALARY#135]
   +- Project [NAME#132, EXPERIENCE#133, AGE #134, SALARY#135, (EXPERIENCE#133 + 2) AS Experience After 2 year#484]
      +- Relation [NAME#132,EXPERIENCE#133,AGE #134,SALARY#135] csv

In [42]:
df_pyspark.show()

+----+----------+----+-------+
|NAME|EXPERIENCE|AGE | SALARY|
+----+----------+----+-------+
|John|        15|  45|100,000|
| Bob|        13|  34|120,000|
|NULL|         2|  36|110,000|
|ROCK|      NULL|  43|130,000|
+----+----------+----+-------+

In [ ]:
imputer.fit(df_pyspark).transform(df_pyspark).show()

IllegalArgumentException: AGE does not exist. Available: NAME, EXPERIENCE, AGE , SALLARY

PYSPARK dataframes filteration

In [56]:
### Salary of the people less than or equal to 20000
from pyspark.sql.functions import col

# Filter rows using Column expression
filtered_df = df_pyspark.filter(col("SALARY") >= 100000)
filtered_df.show()

+----+----------+----+------+
|NAME|EXPERIENCE|AGE |SALARY|
+----+----------+----+------+
+----+----------+----+------+

In [ ]:
from pyspark.sql import SparkSession

# Create a Spark session
spark = SparkSession.builder \
    .appName("DataFrame Filtering") \
    .getOrCreate()

In [ ]:
from pyspark.sql import Row

# Sample data
data = [
    Row(id=1, name="Alice", age=30),
    Row(id=2, name="Bob", age=25),
    Row(id=3, name="Cathy", age=29),
    Row(id=4, name="David", age=35)
]

# Create DataFrame
df = spark.createDataFrame(data)
df.show()

+---+-----+---+
| id| name|age|
+---+-----+---+
|  1|Alice| 30|
|  2|  Bob| 25|
|  3|Cathy| 29|
|  4|David| 35|
+---+-----+---+

In [ ]:
# Filter rows where age > 30
filtered_df = df.filter(df['age'] > 29)

# Show the result
filtered_df.show()

+---+-----+---+
| id| name|age|
+---+-----+---+
|  1|Alice| 30|
|  4|David| 35|
+---+-----+---+

In [57]:
# Filter rows where age < 30
filtered_df = df.where(df.age < 30)

# Show the result
filtered_df.show()

+---+-----+---+
| id| name|age|
+---+-----+---+
|  2|  Bob| 25|
|  3|Cathy| 29|
+---+-----+---+

In [58]:
# Filter using SQL expression
filtered_df = df.filter("age >= 30")

# Show the result
filtered_df.show()

+---+-----+---+
| id| name|age|
+---+-----+---+
|  1|Alice| 30|
|  4|David| 35|
+---+-----+---+

pyspark functions

https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/functions.html