PYSPARK DATAFRAMES

In [77]:
import pyspark

In [78]:
print('hello')

hello

In [79]:
from pyspark.sql import SparkSession

In [80]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

https://github.com/krishnaik06/Pyspark-With-Python/blob/main/Tutorial%204-%20Pyspark%20Dataframes-%20Filter%20operation.ipynb

In [81]:
spark

In [82]:
## read the dataset
df_pyspark=spark.read.option('header','true').csv('C:/Users/rammo/OneDrive/Desktop/Book1.csv',inferSchema=True)

In [83]:
### Check the schema
df_pyspark.printSchema()

root
 |-- NAME: string (nullable = true)
 |-- EXPERIENCE: integer (nullable = true)
 |-- AGE : integer (nullable = true)
 |-- SALLARY: string (nullable = true)

In [84]:
df_pyspark.show()

+----+----------+----+-------+
|NAME|EXPERIENCE|AGE |SALLARY|
+----+----------+----+-------+
|John|        15|  45|   100K|
| Bob|        13|  34|   120K|
|NULL|         2|  36|   110K|
|ROCK|      NULL|  43|   130K|
+----+----------+----+-------+

In [85]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [86]:
df_pyspark.head(1)

[Row(NAME='John', EXPERIENCE=15, AGE =45, SALLARY='100K')]

In [87]:
df_pyspark.select(['NAME','EXPERIENCE']).show()

+----+----------+
|NAME|EXPERIENCE|
+----+----------+
|John|        15|
| Bob|        13|
|NULL|         2|
|ROCK|      NULL|
+----+----------+

In [88]:
df_pyspark['NAME']

Column<'NAME'>

In [89]:
df_pyspark.dtypes

[('NAME', 'string'),
 ('EXPERIENCE', 'int'),
 ('AGE ', 'int'),
 ('SALLARY', 'string')]

In [90]:
df_pyspark.describe().show()

+-------+----+----------+----------------+-------+
|summary|NAME|EXPERIENCE|            AGE |SALLARY|
+-------+----+----------+----------------+-------+
|  count|   3|         3|               4|      4|
|   mean|NULL|      10.0|            39.5|   NULL|
| stddev|NULL|       7.0|5.32290647422377|   NULL|
|    min| Bob|         2|              34|   100K|
|    max|ROCK|        15|              45|   130K|
+-------+----+----------+----------------+-------+

In [91]:
### Adding Columns in data frame
df_pyspark=df_pyspark.withColumn('Experience After 2 year',df_pyspark['EXPERIENCE']+2)
df_pyspark.show()

+----+----------+----+-------+-----------------------+
|NAME|EXPERIENCE|AGE |SALLARY|Experience After 2 year|
+----+----------+----+-------+-----------------------+
|John|        15|  45|   100K|                     17|
| Bob|        13|  34|   120K|                     15|
|NULL|         2|  36|   110K|                      4|
|ROCK|      NULL|  43|   130K|                   NULL|
+----+----------+----+-------+-----------------------+

In [92]:
### Drop the columns
df_pyspark=df_pyspark.drop('Experience After 2 year')
df_pyspark.show()

+----+----------+----+-------+
|NAME|EXPERIENCE|AGE |SALLARY|
+----+----------+----+-------+
|John|        15|  45|   100K|
| Bob|        13|  34|   120K|
|NULL|         2|  36|   110K|
|ROCK|      NULL|  43|   130K|
+----+----------+----+-------+

In [93]:
### Rename the columns
df_pyspark.withColumnRenamed('Name','New Name').show()

+--------+----------+----+-------+
|New Name|EXPERIENCE|AGE |SALLARY|
+--------+----------+----+-------+
|    John|        15|  45|   100K|
|     Bob|        13|  34|   120K|
|    NULL|         2|  36|   110K|
|    ROCK|      NULL|  43|   130K|
+--------+----------+----+-------+

Pyspark Handling Missing Values
*Dropping Columns
*Dropping Rows
*Various Parameter In Dropping functionalities
*Handling Missing values by Mean, MEdian And Mode

In [94]:
df_pyspark.show()

+----+----------+----+-------+
|NAME|EXPERIENCE|AGE |SALLARY|
+----+----------+----+-------+
|John|        15|  45|   100K|
| Bob|        13|  34|   120K|
|NULL|         2|  36|   110K|
|ROCK|      NULL|  43|   130K|
+----+----------+----+-------+

In [95]:
df_pyspark.na.drop().show()

+----+----------+----+-------+
|NAME|EXPERIENCE|AGE |SALLARY|
+----+----------+----+-------+
|John|        15|  45|   100K|
| Bob|        13|  34|   120K|
+----+----------+----+-------+

In [96]:
### any==how
df_pyspark.na.drop(how="any").show()

+----+----------+----+-------+
|NAME|EXPERIENCE|AGE |SALLARY|
+----+----------+----+-------+
|John|        15|  45|   100K|
| Bob|        13|  34|   120K|
+----+----------+----+-------+

In [97]:
##threshold
df_pyspark.na.drop(how="any",thresh=1).show()
"""thresh=1:- This parameter specifies a threshold for dropping rows. It indicates 
that a row will be dropped if it has fewer than thresh non-null values."""

+----+----------+----+-------+
|NAME|EXPERIENCE|AGE |SALLARY|
+----+----------+----+-------+
|John|        15|  45|   100K|
| Bob|        13|  34|   120K|
|NULL|         2|  36|   110K|
|ROCK|      NULL|  43|   130K|
+----+----------+----+-------+

'thresh=1:- This parameter specifies a threshold for dropping rows. It indicates \nthat a row will be dropped if it has fewer than thresh non-null values.'

In [98]:
##Subset
df_pyspark.na.drop(how="any",subset=['EXPERIENCE']).show()

+----+----------+----+-------+
|NAME|EXPERIENCE|AGE |SALLARY|
+----+----------+----+-------+
|John|        15|  45|   100K|
| Bob|        13|  34|   120K|
|NULL|         2|  36|   110K|
+----+----------+----+-------+

In [99]:
### Filling the Missing Value
df_pyspark.na.fill('Missing Values',['NAME','Experience']).show()

+--------------+----------+----+-------+
|          NAME|EXPERIENCE|AGE |SALLARY|
+--------------+----------+----+-------+
|          John|        15|  45|   100K|
|           Bob|        13|  34|   120K|
|Missing Values|         2|  36|   110K|
|          ROCK|      NULL|  43|   130K|
+--------------+----------+----+-------+

ADD IMPUTATION CL

In [106]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['AGE', 'Experience', 'Salary'], 
    outputCols=["{}_imputed".format(c) for c in ['AGE', 'Experience', 'Salary']]
    ).setStrategy("median")
# Add imputation cols to df

In [107]:
df_pyspark.show()

+----+----------+----+-------+
|NAME|EXPERIENCE|AGE |SALLARY|
+----+----------+----+-------+
|John|        15|  45|   100K|
| Bob|        13|  34|   120K|
|NULL|         2|  36|   110K|
|ROCK|      NULL|  43|   130K|
+----+----------+----+-------+

In [109]:
imputer.fit(df_pyspark).transform(df_pyspark).show()

IllegalArgumentException: AGE does not exist. Available: NAME, EXPERIENCE, AGE , SALLARY

PYSPARK dataframes filteration

In [128]:
### Salary of the people less than or equal to 20000
df_pyspark.filter("SALARY is 100,000").show()

ParseException:
[PARSE_SYNTAX_ERROR] Syntax error at or near '100'.(line 1, pos 10)

== SQL ==
SALARY is 100,000
----------^^^